
[scenario]
	id="01_Intro"
	name="Intro"
	map_file=sea-test.map
    turns=20
    next_scenario=null
	allow_new_game=yes
	victory_when_enemies_defeated=yes
	experience_modifier=100
	#[story]
    #   [part]
	#		{3L_BIGMAP}
    #        story= _ "To Do"
    #    [/part]
	#[/story]
	#{3L_TRACK {JOURNEY_01_NEW} }
	
	{SCENARIO_MUSIC "weight_of_revenge.ogg"}
	{DIVER_REMOVAL_EVENT}
	{TELEPORT_STATUS_EVENT}
	[side]
		{MERFOLK_TEAM}
		{MERFOLK_LEADER 5 4}
		side=1
		team_name=1
		gold=100
		income=-2
		fog=yes
		shroud=yes
	[/side]
	[side]
		{NAGA_TEAM}
		{NAGA_LEADER 29 24}
		side=2
		team_name=2
		gold=100
		income=-2
		fog=yes
		shroud=yes
	[/side]
	
	[event]
        name=prestart
		{S1_MAP_INIT}
		
    [/event]
	
	{SUMMER_SCHEDULE}
	
	#############################################
	################## layer 1 ##################
	#############################################
	
	[time_area]
		x=0-31
		y=9-17
		{SUMMER_SCHEDULE_LAYER1}
	[/time_area]
	
	#############################################
	################## layer 2 ##################
	#############################################
	
	[time_area]
		x=0-31
		y=18-27
		{SUMMER_SCHEDULE_LAYER2}
	[/time_area]
	[event]
        name=start
		
    [/event]

[/scenario]

