
#ifdef MULTIPLAYER
	[binary_path]
		path=data/add-ons/Under_the_Sea
	[/binary_path]
	
		{~add-ons/Under_the_Sea/utils}
#endif

#ifdef CAMPAIGN_DEEP_SEA
[binary_path]
    path=data/add-ons/Under_the_Sea/
[/binary_path]
	{~add-ons/Under_the_Sea/utils}
	{~add-ons/Under_the_Sea/units}
	{~add-ons/Under_the_Sea/scenarios}

	[load_resource]
		id=AWaS_Event_Handeling
	[/load_resource]
#endif

[campaign]
    id=The_Deep
	define=CAMPAIGN_DEEP_SEA
    name= _ "Deep Sea"
    abbrev=_ "DS"
	#To do
    type=hybrid

    min_players=2
    max_players=6

    allow_era_choice=no

    icon="units/merfolk/javelineer-defend2.png"

	background="story/landscape-mountains-04.webp"
    first_scenario="01_Intro"
	
	description= _ "To Do."
    {CAMPAIGN_DIFFICULTY NORMAL "units/merfolk/citizen.png" ( _ "Citizen") ( _ "WIP")} {DEFAULT_DIFFICULTY}
	image="portraits/merfolk/hoplite.webp"
[/campaign]

#ifdef MULTIPLAYER
	{~add-ons/Under_the_Sea/utils}
	{~add-ons/Under_the_Sea/units}
	{~add-ons/Under_the_Sea/era}
	[modification]
		id=underwaterscenery
		name= _ "Underwater Scenery (Beta)"
		type=hybrid
		description=_"Sets the world below the see."

		{UTS_WATER_MAP_TRANSFORMATION}

		{UTS_DEFAULT_UNIT_TRANSFORMATION}
	[/modification]

	#era is defined here
	{UTS_DEFAULT_UWE_ERA}
#endif