
#ifdef MULTIPLAYER
	[binary_path]
		path=data/add-ons/Under_The_Sea
	[/binary_path]
	
		{~add-ons/Under_The_Sea/utils}
#endif

#ifdef CAMPAIGN_DEEP_SEA
[binary_path]
    path=data/add-ons/Under_The_Sea/
[/binary_path]
	{~add-ons/Under_The_Sea/utils}
	{~add-ons/Under_The_Sea/units}
	{~add-ons/Under_The_Sea/scenarios}

	[load_resource]
		id=AWaS_Event_Handeling
	[/load_resource]
#endif

[campaign]
    id=The_Deep
	define=CAMPAIGN_DEEP_SEA
    name= _ "Deep Sea"
    abbrev=_ "DS"
	#To do
    type=hybrid

    min_players=2
    max_players=6

    allow_era_choice=no

    icon="units/merfolk/javelineer-defend2.png"

	background="story/landscape-mountains-04.webp"
    first_scenario="01_Intro"
	
	description= _ "To Do."
    {CAMPAIGN_DIFFICULTY NORMAL "units/merfolk/citizen.png" ( _ "Citizen") ( _ "WIP")} {DEFAULT_DIFFICULTY}
	image="portraits/merfolk/hoplite.webp"
[/campaign]

#ifdef MULTIPLAYER
	{~add-ons/Under_The_Sea/utils}
	{~add-ons/Under_The_Sea/units}
	[modification]
		id=underwaterscenery
		name= _ "Underwater Scenery (Beta)"
		type=hybrid
		description=_"Sets the world below the see."

		#executing events
		[load_resource]
			id=AWaS_Event_Handeling
		[/load_resource]

		## turns any MP map into a underwater map
		[event]
			name=prestart

			[terrain]
				terrain=Ds
				[and]
					terrain=G*^*, S*^*
				[/and]
				layer=base
			[/terrain]
			[terrain]
				terrain=Ds
				[and]
					terrain=R*^*
				[/and]
				layer=base
			[/terrain]
			[terrain]
				terrain=Uu
				[and]
					terrain=Tb*^*
				[/and]
				layer=base
			[/terrain]
			[terrain]
				terrain=Mdd
				[and]
					terrain=!,Mv*^*,Mv*,!,M*^*,M*^Xm
				[/and]
				layer=base
			[/terrain]
			[terrain]
				terrain=Hd
				[and]
					terrain=H*^*
				[/and]
				layer=base
			[/terrain]
			[terrain]
				terrain=Cm
				[and]
					terrain=Ch*
				[/and]
				layer=base
			[/terrain]
			[terrain]
				terrain=Cme
				[and]
					terrain=!,Cm,!,C*
				[/and]
				layer=base
			[/terrain]
			[terrain]
				terrain=Km
				[and]
					terrain=Kh*
				[/and]
				layer=base
			[/terrain]
			[terrain]
				terrain=Kme
				[and]
					terrain=!,Km,!,K*
				[/and]
				layer=base
			[/terrain]
			
			[terrain]
				terrain=*^Vm
				[and]
					terrain=*^V*
				[/and]
				layer=overlay
			[/terrain]
			[terrain]
				terrain=^Wkf
				[and]
					terrain=*^F*
				[/and]
				layer=overlay
			[/terrain]
			[terrain]
				terrain=^Wkf
				[and]
					terrain=*^T*
				[/and]
				layer=overlay
			[/terrain]
			[terrain]
				terrain=^Ewsh
				[and]
					terrain=*^E*
				[/and]
				layer=overlay
			[/terrain]
			[terrain]
				terrain=^
				[and]
					terrain=*^B*,*^Do
				[/and]
				layer=overlay
			[/terrain]
			[terrain]
				terrain=^Esd
				[and]
					terrain=*^G*,*^W*
				[/and]
				layer=overlay
			[/terrain]

			[terrain]
				terrain=Ds^Qhu
				[and]
					terrain=!,Ww*^V*,!,Ww*^*
				[/and]
				layer=both
			[/terrain]
			[terrain]
				terrain=Dd^Qhu
				[and]
					terrain=!,Wo*^V*,!,Wo*^*
				[/and]
				layer=both
			[/terrain]
			[terrain]
				terrain=Dd^Vm
				[and]
					terrain=Wo*^V*
				[/and]
				layer=both
			[/terrain]
			[terrain]
				terrain=Ds^Vm
				[and]
					terrain=Ww*^V*
				[/and]
				layer=both
			[/terrain]
			
			[terrain]
				terrain=Ds^_ml
				[and]
					terrain=Ds^Qhu
					[filter_adjacent_location]
						terrain=Ds^Qhu
						count=6
					[/filter_adjacent_location]
				[/and]
				layer=both
			[/terrain]
			[terrain]
				terrain=Dd^_mll
				[and]
					terrain=Dd^Qhu
					[filter_adjacent_location]
						terrain=Dd^Qhu
						count=6
					[/filter_adjacent_location]
				[/and]
				layer=both
			[/terrain]
		[/event]

		[event]
			name=prestart

			[sound_source]
				id=sound_underwaterscenery
				sounds="data/add-ons/Animated_Weather_and_Scenery/sounds/underwater.wav"
				loop=-1
				full_range=100
				fade_range=100
				check_fogged=false
				check_shrouded=false
				x,y=10,10
			[/sound_source]

			[AWaS_Create_Basic_Scenery]
				id=id_underwaterscenery
				Scenery_Type=underwater
					[filter_location]
						x=10
						y=10
						radius=100
					[/filter_location]
			[/AWaS_Create_Basic_Scenery]
			
			[AWaS_Create_Basic_Scenery]
				id=id_underwaterscenery_deeper
				Scenery_Type=underwater
				[filter_location]
					terrain=*^Qhu,*^_ml,*^_mll
					[and]
						x=10
						y=10
						radius=100
					[/and]
				[/filter_location]
			[/AWaS_Create_Basic_Scenery]
		
			[AWaS_Create_Basic_Scenery]
				id=id_underwaterscenery3
				Scenery_Type=bubble_bursts
				[filter_location]
						x=10
						y=10
						radius=100
				[/filter_location]
			[/AWaS_Create_Basic_Scenery]
			
			[AWaS_Create_Basic_Scenery]
				id=id_underwaterscenery4
				Scenery_Type=bubble_streams
					[filter_location]
						x=10
						y=10
						radius=100
					[/filter_location]
			[/AWaS_Create_Basic_Scenery]
		[/event]

		[event]
			name=unit placed
			first_time_only=no
			id=uwe_deepsea_movementcost
			
			[filter]
				type=Tentacle of the Deep,Caribe, Great Seahorse,Nibbler,Water Snakelet,Cuttle Fish, Water Serpent,Hunter Caribe
			[/filter]
			
			[modify_unit]
				[filter]
					type=Tentacle of the Deep,Caribe, Great Seahorse,Nibbler,Water Snakelet,Cuttle Fish, Water Serpent,Hunter Caribe
				[/filter]
				[object]
					[effect]
						apply_to=movement_costs
						replace=yes
						[movement_costs]
							deep_water=1
							shallow_water=2
							reef=2
							swamp_water=2
							flat=2
							sand=2
							forest=2
							hills=2
							mountains=3
							village=2
							castle=1
							cave=2
							frozen=2
							fungus=2
						[/movement_costs]
					[/effect]
					[effect]
						apply_to=defense
						replace=yes
						[defense]
							deep_water=40
							shallow_water=50
							reef=50
							swamp_water=50
							flat=50
							sand=50
							forest=50
							hills=50
							mountains=50
							village=50
							castle=50
							cave=50
							frozen=50
							fungus=50
						[/defense]
					[/effect]
				[/object]
			[/modify_unit]
		[/event]
	[/modification]
	[era]
		id=era_underwater
		name= _ "Underwater Era"
		description= _ "Factions that are used for my Deep Sea campaign."
		{RANDOM_SIDE}
		{~add-ons/Under_The_Sea/factions/merfolk-uwe.cfg}
		{~add-ons/Under_The_Sea/factions/naga-uwe.cfg}
		{~add-ons/Under_The_Sea/factions/monster-uwe.cfg}
		force_modification=underwaterscenery
		[modify_unit_type]
			type="Cuttle Fish"
			add_advancement="Kraken"
			set_experience=80
		[/modify_unit_type]
		[modify_unit_type]
			type="Water Serpent"
			add_advancement="Sea Serpent"
			set_experience=80
		[/modify_unit_type]
	[/era]
#endif