#define UTS_DEFAULT_UWE_ERA
	[era]
		id=era_underwater
		name= _ "Underwater Era"
		description= _ "Factions that are used for my Deep Sea campaign."
		{RANDOM_SIDE}
		{~add-ons/Under_the_Sea/factions/merfolk-uwe.cfg}
		{~add-ons/Under_the_Sea/factions/naga-uwe.cfg}
		{~add-ons/Under_the_Sea/factions/monster-uwe.cfg}
		force_modification=underwaterscenery
		[modify_unit_type]
			type="Cuttle Fish"
			add_advancement="Kraken"
			set_experience=80
		[/modify_unit_type]
		[modify_unit_type]
			type="Water Serpent"
			add_advancement="Sea Serpent"
			set_experience=80
		[/modify_unit_type]
	[/era]
#enddef