#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Chief Carapace
    name= _ "Carapacian Chief"
    race=carapace
    image="units/carapace-uwe/chief.png"
    hitpoints=46
    movement_type=uwe_carapace
    movement=5
    experience=81
    level=2
    alignment=neutral
    advances_to=Lord Carapace
    cost=36
    usage=fighter
    description= _ "Carapacian Chief, Toulosis, is the leader of the race."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapace-uwe/chief.png" "units/carapace-uwe/chief.png" {SOUND_LIST:DRAKE_HIT} }
    {LEADING_ANIM "units/carapace-uwe/chief.png" "units/carapace-uwe/chief.png" -17,-37}
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    [resistance]
        blade=60
        pierce=70
        impact=60
        cold=110
        arcane=110
    [/resistance]

    [attack]
        name=morning star
        description=_"morning star"
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=water breath
        description=_"water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=8
        number=2
    [/attack]
[/unit_type]
