#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Heroic Carapace
    name= _ "Carapacian Impaler"
    race=carapace
    image="units/carapace-uwe/hero.png"
    hitpoints=58
    movement_type=uwe_carapace
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=46
    usage=fighter
    description= _ "Feared by all who face them, Carapacian Impalers can pierce armor and flesh with a single throw of their trident. In close combat, they wield heavy spiked maces, their hardened carapace and relentless strength turning them into unstoppable frontline warriors."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapace-uwe/hero.png" "units/carapace-uwe/hero.png" {SOUND_LIST:DRAKE_HIT} }
    [resistance]
        blade=60
        pierce=70
        impact=60
        cold=110
        arcane=110
    [/resistance]

    [attack]
        name=trident
        description=_"trident"
        icon=attacks/trident.png
        type=pierce
        range=melee
        damage=8
        number=5
    [/attack]
    [attack]
        name=morning star
        description=_"morning star"
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=13
        number=3
    [/attack]
    [attack]
        name=water breath
        description=_"water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=9
        number=2
    [/attack]
[/unit_type]
