#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Carapacian Hunter
    name= _ "Carapacian Hunter"
    race=carapace
    image="units/carapace-uwe/hunter.png"
    hitpoints=34
    movement_type=uwe_carapace
    movement=4
    experience=32
    level=1
    alignment=neutral
    advances_to=Javelin Carapace
    cost=15
    usage=fighter
    description= _ "Their roles are not only for the hunting, but also for the battling."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapace-uwe/hunter-2.png" "units/carapace-uwe/hunter-1.png" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=trident
        description=_"trident"
        icon=attacks/trident.png
        type=pierce
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=water breath
        description=_"water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=7
        number=1
    [/attack]
[/unit_type]
