#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Javelin Carapace
    name= _ "Carapacian Javelineer"
    race=carapace
    gender=male
    image="units/carapace-uwe/javelin.png"
    hitpoints=45
    movement_type=uwe_carapace
    movement=4
    experience=69
    level=2
    alignment=neutral
    advances_to=Heroic Carapace
    cost=30
    usage=fighter
    description= _ "Carapacian Javelineer throws the trident for his hunting jobs. Its damage is enough to give a mortal wound to his target."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapace-uwe/javelin.png" "units/carapace-uwe/javelin.png" {SOUND_LIST:DRAKE_HIT} }
    [attack]
        name=trident
        description=_"trident"
        icon=attacks/trident.png
        type=pierce
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=trident
        description=_"trident"
        icon=attacks/trident.png
        type=pierce
        range=ranged
        damage=14
        number=1
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=water breath
        description=_"water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=7
        number=2
    [/attack]
[/unit_type]
