#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Lord Carapace
    name= _ "Carapacian Lord"
    race=carapace
    image="units/carapace-uwe/lord.png"
    hitpoints=60
    movement_type=uwe_carapace
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=46
    usage=fighter
    description= _ "Carapacian Lord, Toulosis, is the leader of the race."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapace-uwe/lord.png" "units/carapace-uwe/lord.png" {SOUND_LIST:DRAKE_HIT} }
    {LEADING_ANIM "units/carapace-uwe/lord.png" "units/carapace-uwe/lord.png" -17,-37}
    [abilities]
        {ABILITY_LEADERSHIP}
		{ABILITY_STEADFAST}
    [/abilities]

    [attack]
        name=morning star
        description=_"morning star"
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=14
        number=3
    [/attack]
    [attack]
        name=water breath
        description=_"water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=10
        number=2
    [/attack]
[/unit_type]
