#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Carapacian Protector
    name= _ "Carapacian Protector"
    race=carapace
    image="units/carapace-uwe/protector.png"
    hitpoints=40
    movement_type=uwe_carapace
    movement=5
    experience=34
    level=1
    alignment=neutral
    advances_to=UWE Carapacian Guardian
    cost=17
    usage=mixed fighter
    description= _ "Carapacian Protector."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapace-uwe/protector-2.png" "units/carapace-uwe/protector-1.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=beak
        description= _ "beak"
        type=pierce
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]

	{MELEE_ANIM claws claws.ogg {SOUND_LIST:MISS}}
	{MELEE_ANIM beak spear.ogg {SOUND_LIST:MISS}}

[/unit_type]
