#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Sage Carapace
    name= _ "Carapacian Sage"
    race=carapace
    gender=male
    image="units/carapace-uwe/elder.png"
    hitpoints=38
    movement_type=uwe_carapace
    movement=4
    experience=90
    level=2
    alignment=neutral
    advances_to=UWE Great Sage Carapace
    cost=35
    usage=mixed fighter
    description= _ "Among the Carapacians, some grow into the role of Elders, bearing the wisdom of their tribe and the secrets of the deep earth. Gifted with rare magical talent, they use primal chants to strengthen their kin and sense threats before they emerge.."
    die_sound=drake-die.ogg
	
	{ANIM_IDLE_DEFEND_STORMHEART "elder"}

    [abilities]
		{ABILITY_STORMHEART}
		{ABILITY_STEADFAST}
    [/abilities]

    [healing_anim]
        start_time=-300
        [frame]
            image="units/carapace-uwe/elder.png:[50,60,70,80,90,100*2]"
            halo="halo/saurian-magic-halo[1~7].png"
        [/frame]
    [/healing_anim]
    [attack]
        name=beak
        description= _ "beak"
        type=pierce
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=water blast
        description=_"water blast"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
	
	{MELEE_ANIM beak spear.ogg {SOUND_LIST:MISS}}
	{RANGE_ANIM_WATERBLAST}
[/unit_type]
