#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Stormchief Carapace
    name= _ "Carapacian Stormchief"
    race=carapace
    image="units/carapace-uwe/chief.png"
    hitpoints=46
    movement_type=uwe_carapace
    movement=5
    experience=81
    level=2
    alignment=neutral
    advances_to=UWE Stormlord Carapace
    cost=36
    usage=fighter
    description= _ "Carapacian Stormchief, is the leader of the race."
    die_sound=drake-die.ogg
    {LEADING_ANIM "units/carapace-uwe/chief.png" "units/carapace-uwe/chief.png" -17,-37}
	
	{ANIM_IDLE_DEFEND_STORMHEART "chief"}

    [abilities]
        {ABILITY_LEADERSHIP}
		{ABILITY_STEADFAST}
		{ABILITY_STORMHEART}
    [/abilities]

    [attack]
        name=trident
        description=_"trident"
        icon=attacks/trident.png
        type=pierce
        range=melee
        damage=10
        number=3
    [/attack]
	
	{MELEE_ANIM trident spear.ogg {SOUND_LIST:MISS}}
[/unit_type]
