#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Stormkin Carapace
    name= _ "Carapacian Stormkin"
    race=carapace
    image="units/carapace-uwe/young-chief.png"
    hitpoints=38
    movement_type=uwe_carapace
    movement=5
    experience=81
    level=1
    alignment=neutral
    advances_to=UWE Stormchief Carapace
    cost=36
    usage=fighter
    description= _ "Carapacian Stormkin, is the leader of the race."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapace-uwe/young-chief.png" "units/carapace-uwe/young-chief.png" {SOUND_LIST:DRAKE_HIT} }
    {LEADING_ANIM "units/carapace-uwe/young-chief.png" "units/carapace-uwe/young-chief.png" -17,-37}
    [abilities]
        {ABILITY_LEADERSHIP}
		{ABILITY_STEADFAST}
		{ABILITY_STORMHEART}
    [/abilities]

    [attack]
        name=trident
        description=_"trident"
        icon=attacks/trident.png
        type=pierce
        range=melee
        damage=7
        number=3
    [/attack]
	
	{MELEE_ANIM trident spear.ogg {SOUND_LIST:MISS}}
[/unit_type]
