#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Stormkin Carapace
    name= _ "Carapacian Stormkin"
    race=carapace
    image="units/carapace-uwe/young-chief.png"
    hitpoints=38
    movement_type=uwe_carapace
    movement=5
    experience=81
    level=1
    alignment=neutral
    advances_to=UWE Stormchief Carapace
    cost=36
    usage=fighter
    description= _ "Carapacian Stormkin, is the leader of the race."
    die_sound=drake-die.ogg

    {LEADING_ANIM "units/carapace-uwe/young-chief.png" "units/carapace-uwe/young-chief.png" -17,-37}

    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=2310
            image="units/carapace-uwe/young-chief.png"
            halo=halo/undead/idle-flash-[1~21].png
        [/frame]
    [/idle_anim]

    [defend]
        hits=miss
        start_time=-100
        [frame]
            image="units/carapace-uwe/young-chief.png:100"
        [/frame]
    [/defend]
    [defend]
        hits=hit
        start_time=-100
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            image="units/carapace-uwe/young-chief.png:160"
            halo=halo/undead/idle-flash-[5~12].png:20
            sound=hiss-big.wav
        [/frame]
    [/defend]
    [defend]
        hits=hit
        start_time=-100
        [filter_attack]
            range=ranged
        [/filter_attack]
        [frame]
            image="units/carapace-uwe/young-chief.png:160"
            sound=hiss-big.wav
        [/frame]
    [/defend]
  
    [abilities]
        {ABILITY_LEADERSHIP}
		{ABILITY_STEADFAST}
		{ABILITY_STORMHEART}
    [/abilities]

    [attack]
        name=trident
        description=_"trident"
        icon=attacks/trident.png
        type=pierce
        range=melee
        damage=7
        number=3
    [/attack]
	
	{MELEE_ANIM trident spear.ogg {SOUND_LIST:MISS}}
[/unit_type]
