#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Carapacian Surge Hunter
    name= _ "Carapacian Surge Hunter"
    race=carapace
    gender=male
    image="units/carapace-uwe/surge.png"
    hitpoints=45
    movement_type=uwe_carapace
    movement=4
    experience=69
    level=2
    alignment=neutral
    advances_to=UWE Carapacian Wavecaller
    cost=30
    usage=fighter
    description= _ "Carapacian Surge Hunter spits concentrated water blasts for hunting jobs. Its damage is enough to give a mortal wound to his target."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapace-uwe/surge.png" "units/carapace-uwe/surge.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=water breath
        description=_"water breath"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=7
        number=4
    [/attack]
	
	{MELEE_ANIM claws claws.ogg {SOUND_LIST:MISS}}
	{RANGE_ANIM_WATERBLAST}
[/unit_type]
