#textdomain wesnoth-Across_the_Ocean
[unit_type]
    id=UWE Carapacian Warrior
    name= _ "Carapacian Warrior"
    race=carapace
    image="units/carapace-uwe/guard.png"
    hitpoints=40
    movement_type=uwe_carapace
    movement=5
    experience=71
    level=2
    alignment=neutral
    advances_to=UWE Ancient Carapacian Warrior
    cost=32
    usage=fighter
    description= _ "Carapacian Warrior."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/carapace-uwe/guard.png" "units/carapace-uwe/guard.png" {SOUND_LIST:DRAKE_HIT} }
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=beak
        description= _ "beak"
        type=pierce
        range=melee
        damage=12
        number=2
    [/attack]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=11
        number=2
    [/attack]

	{MELEE_ANIM claws claws.ogg {SOUND_LIST:MISS}}
	{MELEE_ANIM beak spear.ogg {SOUND_LIST:MISS}}

[/unit_type]
