#define ABILITY_STORMHEART
    [dummy]
        id=stormheart
        name= _ "stormheart"
        description= _ "When an enemy hits this unit in melee it is 1 arcane damage, and gain 1 more per level."
    [/dummy]
#enddef

#define ABILITY_STORMHEART_EVENTS
    [event]
        id=stormheart_event_1
        name=attacker hits
        first_time_only=no

        [filter_second]
            ability=stormheart
        [/filter_second]
		
		[filter_attack]
			range=melee
		[/filter_attack]
				
        [unstore_unit]
            variable=unit
            find_vacant=no
            text= _ "shock"
            female_text = _ "female^shock"
            red,green,blue=0,0,255
        [/unstore_unit]
		
		[sound]
			name=lightning.ogg
		[/sound]
		
		{VARIABLE shock_damage $second_unit.level}
		{VARIABLE_OP shock_damage add 1}
		[harm_unit]
			[filter]
				x,y=$x1,$y1
			[/filter]
			amount=$shock_damage
			damage_type=arcane
			fire_event=yes
			animate=no
			experience=yes
			kill=yes
			delay=0
		[/harm_unit]
		{CLEAR_VARIABLE shock_damage}
    [/event]
	
	[event]
        id=stormheart_event_2
        name=defender hits
        first_time_only=no

        [filter]
            ability=stormheart
        [/filter]
		
		[filter_second_attack]
			range=melee
		[/filter_second_attack]

        [unstore_unit]
            variable=second_unit
            find_vacant=no
            text= _ "shock"
            female_text = _ "female^shock"
            red,green,blue=0,0,255
        [/unstore_unit]
		
		[sound]
			name=lightning.ogg
		[/sound]
		{VARIABLE shock_damage $second_unit.level}
		{VARIABLE_OP shock_damage add 1}
		[harm_unit]
			[filter]
				x,y=$x2,$y2
			[/filter]
			amount=$shock_damage
			damage_type=arcane
			fire_event=yes
			animate=no
			experience=yes
			kill=yes
			delay=0
		[/harm_unit]
		{CLEAR_VARIABLE shock_damage}
    [/event]
#enddef

[resource]
    id=uwe_ability_events
	{ABILITY_STORMHEART_EVENTS}
[/resource]