#define MELEE_ANIM NAME SOUND_HIT SOUND_MISS
    [attack_anim]
        [filter_attack]
            name={NAME}
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_HIT} {SOUND_MISS} -100}
    [/attack_anim]
#enddef

#define RANGE_ANIM_WATERBLAST
    [attack_anim]
        [filter_attack]
            name=water breath
        [/filter_attack]
        missile_start_time=-165

        [missile_frame]
            image="projectiles/water-spray.png:165"
            image_diagonal="projectiles/water-spray.png:165"
        [/missile_frame]
        {MERMAID_WATER_BLAST_HALO}
        {MERMAID_STAFF_FLARE 16 -12}
        start_time=-420
		{SOUND:HIT_AND_MISS water-blast.wav {SOUND_LIST:MISS} -120}
    [/attack_anim]
#enddef

#define ANIM_IDLE_DEFEND_STORMHEART IMG
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=2310
            image="units/carapace-uwe/{IMG}.png"
            halo=halo/undead/idle-flash-[1~21].png
        [/frame]
    [/idle_anim]

    [defend]
        hits=miss
        start_time=-100
        [frame]
            image="units/carapace-uwe/{IMG}.png:100"
        [/frame]
    [/defend]
    [defend]
        hits=hit
        start_time=-100
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            image="units/carapace-uwe/{IMG}.png:160"
            halo=halo/undead/idle-flash-[5~12].png:20
            sound=hiss-big.wav
        [/frame]
    [/defend]
    [defend]
        hits=hit
        start_time=-100
        [filter_attack]
            range=ranged
        [/filter_attack]
        [frame]
            image="units/carapace-uwe/{IMG}.png:160"
            sound=hiss-big.wav
        [/frame]
    [/defend]
#enddef