#Main Characters

#define MERFOLK_LEADER X Y
    id=merfolk_leader
    unrenamable=yes
    type=Mermaid Enchantress
    canrecruit=yes
    placement=map,leader
	x={X}
	y={Y}
#enddef

#define NAGA_LEADER X Y
    id=naga_leader
    unrenamable=yes
    type=Naga Shield Guard
    canrecruit=yes
    placement=map,leader
	x={X}
	y={Y}
#enddef
