#define SEA_TUNNEL X Y X2 Y2
	[tunnel]
		[filter]
			race=merman,naga
            [not]
				[filter_wml]
                    [status]
                        diver=yes #disabling the tunnel for units that used the tunnel already this turn
                    [/status]
                [/filter_wml]
            [/not]
		[/filter]
		[source]
			x,y={X},{Y}
		[/source]
		[target]
			x,y={X2},{Y2}
		[/target]
		bidirectional=yes
		pass_allied_units=yes
	[/tunnel]
#enddef

#define TELEPORT_STATUS_EVENT
# Teleport capture (unit moved to non-adjacent hex)
# Unit did teleport
  [event]
    name=enter_hex
    first_time_only=no
    [filter]
    [/filter]
    [filter_condition]
      [have_location]
        x,y=$x2,$y2
        [filter_adjacent_location]		# Unit moved >1 hex (i.e. did teleport)
          x,y=$x1,$y1
          count=0
        [/filter_adjacent_location]
      [/have_location]
    [/filter_condition]
    #{DEBUG_MSG (_"Enter hex ***teleport*** fired")}
	[object] #adding a status to the teleporting unit
		silent=yes
		duration=turn end
		
		[filter]
			x,y=$x1,$y1 #coordinates of unit
		[/filter]
		
		[effect]
			apply_to=status
			add=diver #status for only diving once
		[/effect]
	[/object]
	[cancel_action][/cancel_action] #stops movement after teleportation
  [/event]
#enddef
	
#define DIVER_REMOVAL_EVENT
    [event]
        id=diver_removal_event # an event that removes the status diver from all units, if status isn't cleared on its own
        name=side turn
        first_time_only=no

        [event]
            name=side turn
            delayed_variable_substitution=no

            #{DEBUG_MSG "side $|side_number turn started, clearing diver from side $side_number units"}

            [modify_unit]
                [filter]
                    side=$side_number
                    [filter_wml]
                        [status]
                            diver=yes
                        [/status]
                    [/filter_wml]
                [/filter]

                [status]
                    diver=no
                [/status]
            [/modify_unit]
        [/event]
    [/event]
#enddef