#define TOD_COLOR_SHIFT RED GREEN BLUE
    # Append to any time definition to add a color shift.
    [+time]
        red={RED}
        green={GREEN}
        blue={BLUE}
    [/time]
#enddef

#define SUMMER_SCHEDULE
    # A summer schedule, witha  longer daylight segment.
    {DAWN} {TOD_COLOR_SHIFT 0 -10 -5}
    {MORNING} {TOD_COLOR_SHIFT 5 5 0}
    {MIDDAY} {TOD_COLOR_SHIFT 5 5 0}
    {AFTERNOON} {TOD_COLOR_SHIFT 5 5 0}
    {DUSK}
    {MIDNIGHT}
#enddef

#define SUMMER_SCHEDULE_LAYER1
    # The default schedule, with dawn, morning, afternoon, dusk, and first and second watches.
    {DAWN} {TOD_COLOR_SHIFT -35 -35 35}
    {MORNING} {TOD_COLOR_SHIFT -25 -25 35}
    {AFTERNOON} {TOD_COLOR_SHIFT -25 -25 35}
    {DUSK} {TOD_COLOR_SHIFT -35 -35 35}
    {FIRST_WATCH} {TOD_COLOR_SHIFT -50 -50 25}
    {SECOND_WATCH} {TOD_COLOR_SHIFT -50 -50 25}
#enddef

#define SUMMER_SCHEDULE_LAYER2
    # A winter schedule, with a longer nighttime segment.
    {DAWN} {TOD_COLOR_SHIFT -50 -50 25}
    {MIDDAY} {TOD_COLOR_SHIFT -35 -35 35}
    {DUSK} {TOD_COLOR_SHIFT -50 -50 25}
    {FIRST_WATCH} {TOD_COLOR_SHIFT -70 -70 25}
    {MIDNIGHT} {TOD_COLOR_SHIFT -70 -70 25}
    {SECOND_WATCH} {TOD_COLOR_SHIFT -70 -70 25}
#enddef
