
#Side definition
#define MERFOLK_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Merfolk"
	recruit=Merman Fighter,Merman Hunter,Mermaid Initiate,Merman Brawler,Merman Citizen
#enddef

#define NAGA_TEAM
	controller="human"
    team_name=player
    user_team_name= _ "Naga"
	recruit=Naga Guard,Naga Fighter,Naga Dirkfang
#enddef
