#textdomain wesnoth-uwe


[units]
	{~add-ons/Under_the_Sea/units/carapace-uwe}
	{~add-ons/Under_the_Sea/units/merfolk-uwe}
	{~add-ons/Under_the_Sea/units/monsters-uwe}
	{~add-ons/Under_the_Sea/units/nagas-uwe}
    #       *   R A C I A L   T R A I T S   A N D   N A M E S   *

    # wmllint: general spelling naga nagas nagini
    [race]
        id=deepnaga
		help_taxonomy=naga
        male_name= _ "race^Deep Naga"
        female_name= _ "race^Deep Nagini"
        plural_name= _ "race^Deep Nagas"
        description= _ "this specific sub-race of the naga can breath underwater."
        num_traits=2
        undead_variation=swimmer
        {NAGA_NAMES}
    [/race]
	#define CARAPACE_NAMES
		# Note: Carapaces can't pronounce frontal vowels or labial consonants.
		# That means vowels like i,e and consonants like p/b/f/v/m. L is also rare.
		# Doubled vowel mean that vowel is pronounced longer than usual.
		name_generator= _ <<
	main={prefix}{centre}{suffix}|{generated_prefix}{suffix}
	generated_prefix={starting_consonant}{vowel}
	starting_consonant=T|Th|K|Kh|R|S|L|N|G|Gh
	vowel=a|o|u|aa|oo|au|ou
	prefix={prefix_vc}{vowel}|{prefix_cv}
	prefix_vc=Tor|Thal|Kar|Kor|Nar|Nor|Ral|Sor|Dum|Kal|Bor|Gor|Tah
	prefix_cv=Ano|Otu|Ona|Ala|Oru|Ana|Una|Oma|Ura|Ula
	centre=tan|lor|nur|ran|sol|nor|dar|nol|gol|kar|zen|val|ron|bal|mar|hul|tul
	suffix=ak|ar|on|ul|an|el|or|um|aal
	short_name=Torg|Koral|Morn|Thul|Ranar|Sulon|Lurum >>
	#enddef	
	[race]
		id=carapace
		male_name= _ "race^Carapace"
		female_name= _ "race+female^Carapace"
		plural_name= _ "race^Carapaces"
		description= _ "​An ancient race of sentient turtles whose origin is shrouded in mystery. Several of their settlements are known along the coast of the Great Ocean. They say these are merely border outposts, while the true land of the Carapaces is hidden deep underwater.
​Carapaces grow throughout their entire lives. Their natural longevity turns their warriors into giants and their elders into great sages.
​Some Carapaces possess a strange magical gift from birth. Their shells sparkle, and their breath spews lightning. The Carapaces consider this a sign of noble lineage. Bearers of this gift become chieftains and spiritual leaders for their communities.
​Carapaces are not warlike, but they readily defend their borders. Their warriors do not favor man-made weapons, preferring claws and beaks, with which they deal surprisingly powerful blows. Many Carapaces are able to spit water with deafening force. To this day, it remains unknown whether this is magic or a clever hunting trick.
​Carapace chieftains carry tridents enchanted with the power of lightning, imitating the Storm Trident. It is said that whoever unlocks the power of the Trident will be revered by the Carapaces like a god."
		num_traits=2
		undead_variation=saurian
		ignore_global_traits=yes
		{TRAIT_STRONG}
		{TRAIT_SLOW}
		{TRAIT_RESILIENT}
		{TRAIT_INTELLIGENT}
		
		{CARAPACE_NAMES}
	[/race]
#       *   M O V E   T Y P E S   *
    [movetype]
        name=uwe_carapace
        [movement_costs]
            deep_water=1
            shallow_water=1
            reef=2
            swamp_water=1
            flat=1
            sand=1
            forest=2
            hills=2
            mountains=2
            village=2
            castle=1
            cave=1
            frozen=2
            fungus=2
        [/movement_costs]

        [defense]
            deep_water=60
            shallow_water=60
            reef=50
            swamp_water=60
            flat=60
            sand=60
            forest=50
            hills=50
            mountains=50
            village=50
            castle=60
            cave=60
            frozen=50
            fungus=50
        [/defense]

        [resistance]
            blade=80
            pierce=80
            impact=95
            fire=100
            cold=90
            arcane=100
        [/resistance]
    [/movetype]

    [movetype]
        name=uwe_naga
        [movement_costs]
            deep_water=1
            shallow_water=1
            reef=2
            swamp_water=1
            flat=1
            sand=1
            forest=2
            hills=2
            mountains=3
            village=1
            castle=1
            cave=2
            frozen=2
            fungus=2
        [/movement_costs]

        [defense]
            deep_water=50
            shallow_water=40
            reef=30
            swamp_water=40
            flat=40
            sand=40
            forest=40
            hills=40
            mountains=40
            village=40
            castle=40
            cave=50
            frozen=50
            fungus=50
        [/defense]

        [resistance]
            blade=100
            pierce=100
            impact=100
            fire=100
            cold=100
            arcane=100
        [/resistance]
    [/movetype]

    [movetype]
        name=uwe_deepsea
        [movement_costs]
            deep_water=1
            shallow_water=2
            reef=2
            swamp_water=2
            flat=2
            sand=2
            forest=2
            hills=2
            mountains=3
            village=2
            castle=1
            cave=2
            frozen=2
            fungus=2
        [/movement_costs]

        [defense]
            deep_water=40
            shallow_water=50
            reef=50
            swamp_water=50
            flat=50
            sand=50
            forest=50
            hills=50
            mountains=50
            village=50
            castle=50
            cave=50
            frozen=50
            fungus=50
        [/defense]

        [resistance]
            blade=80
            pierce=100
            impact=70
            fire=100
            cold=40
            arcane=90
        [/resistance]
    [/movetype]

    [movetype]
        name=uwe_swimmer
        [movement_costs]
            deep_water=1
            shallow_water=1
            reef=2
            swamp_water=1
            flat=1
            sand=1
            forest=2
            hills=2
            mountains=3
            village=1
            castle=1
            cave=2
            frozen=2
            fungus=2
        [/movement_costs]

        [defense]
            deep_water=50
            shallow_water=40
            reef=30
            swamp_water=40
            flat=40
            sand=40
            forest=40
            hills=40
            mountains=40
            village=40
            castle=40
            cave=50
            frozen=50
            fungus=50
        [/defense]

        [resistance]
            blade=100
            pierce=100
            impact=100
            fire=100
            cold=80
            arcane=100
        [/resistance]
    [/movetype]

[/units]
